<nav class="navbar fixed-bottom navbar-light bg-white">
    <div class="container">
        <div class="col"></div>
        <div class="col">
            <a class="navbar-brand text-muted" href="https://vk.com/id89463323">@DateTime.Now.Year - Mikitos Inc.</a>
        </div>
        <div class="col"></div>
</div>
</nav>
